ul {list-style: none;padding: 0px;margin: 0px; width: 400px; margin-left: auto; margin-right: auto; }
  ul { font-family: 'Shift', Helvetica;}
  ul li {display: block;position: relative;float: left;border:1px solid #000}
  li ul {display: none;}
  ul li a {display: block;background: #0099cc;padding: 5px 10px 5px 10px;text-decoration: none;
           white-space: nowrap;color: #fff;}
  ul li a:hover {background: #f00;}
  li:hover ul {display: block; position: absolute;}
  li:hover li {float: none;}
  li:hover a {background: #f00;}
  li:hover li a:hover {background: #000;}
  #drop-nav li ul li {border-top: 10px;}
  li { font-family: 'Shift', Helvetica;}

body, html, head {
	/* important */
	height: 100%;
}
 
.bigshit {
	min-height: 100%;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
}
  
.bigshit {
background-image:url('EKMGEPc.jpg');
height: 1920px;
margin-top: auto;
}

.bigshit h1 {
text-align: center;
margin: auto;
color: blue;
font-style: bold;
font-family: 'Shift', Helvetica;
}

.bigshit p {
color: red;
font-style: bold;
}



#.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
  text-transform: uppercase;
 }